<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu {{getGrandTotal()}}</div>
    <div>
      <button type="button" class="btn btn-primary">Place Order {{getGrandItem()}}</button>
    </div>
  </div>
</div>

<!-- each row display a single mene item -->
<div *ngFor="let item of menuItems; let idx = index">
  <div class="row mb-2">
    <div class="col">
      <div class="menu-item">
        <div>
          <button type="button" class="btn btn-warning" (click)="decreaseQuantity(item.id, item.name, item.price)">
            <i class="bi bi-x-square"></i>
          </button>
        </div>
        <div class="menu-details">
          <div>
            Name: <span class="fw-bold"> {{ item.name }} </span>
          </div>
          <div>
            Description:
            <span class="fst-italic">
              {{ item.description }}
            </span>
          </div>
          <div>
            Price:
            <span class="fst-italic">
              ${{ item.price }}
            </span>
          </div>
          <div class="text-danger fw-bold">Quantity: {{getCartQuantity(item.name)}}</div>
        </div>
        <div class="menu-button-end">
          <button type="button" class="btn btn-success" (click)="increaseQuantity(item.id, item.name, item.price)">
            <i class="bi bi-plus-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
